---
import Layout from "../components/Layout.astro";
---

<Layout title="Prasanna Atreya's portfolio">
  <div class="wrapper"><h1 class="center">Prasanna Atreya</h1></div>
  <img src="coming-soon.png" alt="coming soon" class="image-center" />
</Layout>

<style>
  body {
    margin: 0px;
  }
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(75, 156, 211);
    background: linear-gradient(
      90deg,
      rgba(75, 156, 211, 1) 0%,
      rgba(1, 198, 157, 1) 50%,
      rgba(75, 156, 211, 1) 100%
    );
  }
  .center {
    display: flex;
    color: rgb(60, 60, 60);
  }
  .image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 400px;
  }
</style>
